body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.sidebar {
    width: 250px;
    background-color: #333;
    position: fixed;
    height: 100%;
}

.sidebar .logo {
    text-align: center;
    padding: 20px;
}

.sidebar .logo img {
    max-width: 80%; /* Ustawiamy maksymalną szerokość na 80% sidebaru */
    height: auto;   /* Proporcjonalne skalowanie wysokości */
}
.sidebar .logo p {
    color: orange;
    text-align: center;
    font-size: 20px;
    text-decoration:solid;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px;
    text-align: center;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.dashboard-tiles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Dodajemy flex-wrap, aby kafelki były responsywne */
}

.tile {
    background-color: #444;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px; /* Dodajemy odstęp między kafelkami na dole */
    box-sizing: border-box; /* Zapewnia poprawne liczenie szerokości z paddingiem */
}

.charts .chart {
    background-color: #555;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

/* Kontener na małe wykresy */
.small-charts {
    display: flex;        /* Ustawienie flexboxa dla małych wykresów */
    justify-content: space-between; /* Upewnijmy się, że mają odstęp między sobą */
    margin-bottom: 20px;
}

/* Małe wykresy */
.half-chart {
    background-color: #555;
    height: 150px;
    width: 48%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}


/* Dodajemy media queries, aby strona była bardziej responsywna */
@media (max-width: 768px) {
    .dashboard-tiles {
        flex-direction: column; /* Kafelki ułożą się jeden pod drugim na mniejszych ekranach */
    }

    .tile {
        width: 100%; /* Na mniejszych ekranach kafelki zajmą całą szerokość */
    }
}
/* Stylizacja stopki */
.footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #333;
    color: #aaa;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1,2em;
}
