<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesblog.css">
    <link rel="icon" href="/img/icons/favicon.png" type="image/png">
    <title>Blog PRONE</title>
</head>
<body>

    <header class="navbar">
        <div class="logo">
            <img src="/img/logo.png" alt="Prone Logo">
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="/">Strona Główna</a></li>
                <li><a href="#updates">Aktualizacje</a></li>
                <li><a href="#changelog">Changelog</a></li>
            </ul>
        </nav>
        <div class="language-switch">
            <a href="en"><img src="/img/flags/uk.png" alt="English"></a>
            <a href="pl"><img src="/img/flags/pl.png" alt="Polski"></a>
        </div>
    </header>

    <section id="updates" class="section card">
        <h2>Aktualizacje</h2>
        <p>Największe zmiany w naszej aplikacji:</p>
        <div class="update-entry">
        </div>
    </section>

    <section id="changelog" class="section card">
        <h2>Changelog</h2>
        <p>Zmiany w wersjach aplikacji:</p>
        <ul>
          
        </ul>
    </section>

    <footer class="footer">
        <p>Created by ACDIT Sp. z o.o.</p>
    </foote
